<h1>Search</h1>

<p><%= link_to "Connect with Instagram", oauth_connect_path %></p>

<%= form_tag search_path do%>
  <%= label_tag :url, "Image url" %>
  <%= text_field_tag :url %>
  <%= submit_tag "Find" %>
<% end %>